.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Board {
  width: 40%;
  display: inline-block;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

li.PreviousGuess {
  display: block;
  margin: 20px 0;
}
li.PreviousGuess > ul {
  display: inline-block;
  margin-right: 40px;
}

.peg {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 5px;
}

.peg.code {
  width: 10px;
  height: 10px;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.pink {
  background: pink;
}
.brown {
  background: brown;
}
.black {
  background: black;
}
.white {
  background: white;
}
